{% extends 'layout.twig' %}


{% block jumbotron %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="http://placekitten.com/1000/1000" class="img-rounded img-responsive">
				</div>
				<div class="col-sm-8">
					<h1>User not found</h1>
					<h2>User not found or has no creator feed</h2>
					<h4>Maybe later</h4>
				</div>
			</div>
		</div>
	</div>

	{% if user is defined %}
		{% include 'creator/modal.twig' %}
	{% endif %}

{% endblock %}