/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #fffafa;
}

html, body, * {
  font-weight: 400;
}
h1{
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.jumbotron.creator{
  color: white;
  background: #fff url('../images/photos/podcast_back.jpg') center top;
  background-size: 100%;
}
.jumbotron.frontpage {
  color: white;
  background: #fff url('../images/photos/frontpage_back.jpg') center bottom;
  background-size: 100%;
}

.frontpage_tumb {
  margin: 20px 0;
}

.white_back {
  background-color: #fff;
}
.discover .well:hover {
  border-color: #bbb;
}