/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #fffafa;
}

html, body, * {
  font-weight: 400;
}
h1{
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.jumbotron {
  color: white;
  background: #fff url('../images/photos/podcast_back.jpg') center top;
  background-size: 100%;
}