{% extends 'layout.twig' %}

{% block jumbotron %}
	<div class="jumbotron frontpage">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<img src="images/photos/empire.png" class="img-rounded img-responsive" style="width: 200px">
				</div>
				<div class="col-sm-9">
					<h1>Follow & Fund Creators</h1>
					<h2>Give a Flattr for each thing your favorite creators makes</h2>
					<h4>Subscribe to your favorite creators feed. Each time they release something new you will know about it and flattr it.</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="col-sm-6">
		<a href="#">
			<div class="well well-sm clearfix white_back">
				<div class="col-sm-4 frontpage_tumb">
					<img src="http://placekitten.com/200/200" class="img-rounded img-responsive">
				</div>
				<div class="col-sm-8">
					<h2>Hi, I'm Bonq!</h2>
					<h4>I create chiptunes and blip hop!</h4>
					<h4><span class="label label-primary">1337 subscribers</span></h4>
				</div>
			</div>
		</a>
	</div>


	<div class="col-sm-6">
		<a href="#">
			<div class="well well-sm clearfix white_back">
				<div class="col-sm-4 frontpage_tumb">
					<img src="http://placekitten.com/200/200" class="img-rounded img-responsive">
				</div>
				<div class="col-sm-8">
					<h2>Hi, I'm Bonq!</h2>
					<h4>I create chiptunes and blip hop!</h4>
					<h4><span class="label label-primary">1337 subscribers</span></h4>
				</div>
			</div>
		</a>
	</div>


	<div class="col-sm-6">
		<a href="#">
			<div class="well well-sm clearfix white_back">
				<div class="col-sm-4 frontpage_tumb">
					<img src="http://placekitten.com/200/200" class="img-rounded img-responsive">
				</div>
				<div class="col-sm-8">
					<h2>Hi, I'm Bonq!</h2>
					<h4>I create chiptunes and blip hop!</h4>
					<h4><span class="label label-primary">1337 subscribers</span></h4>
				</div>
			</div>
		</a>
	</div>

{% endblock %}