<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">SubFlattr</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Discover creators</a></li>

				<li class="dropdown active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Subscriptions <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Combined Feed</a></li>
						<li class="divider"></li>
						<li><a href="#">Tim Pritlove</a></li>
						<li><a href="#">Another Creator</a></li>
						<li><a href="#">3rd creator</a></li>
						<li><a href="#">Yet another</a></li>
					</ul>
				</li>

			</ul>
			<form class="nav navbar-nav navbar-right">
				{% if user.feed.isActive %}
					<li><a data-toggle="modal" href="/profile/{{ user.name }}">My creator feed</a></li>
				{% else %}
					<li><a data-toggle="modal" href="#editMe">Start creator feed</a></li>
				{% endif %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ user.name }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="/logout/">Sign out</a></li>
					</ul>
				</li>
			</form>
		</div><!--/.navbar-collapse -->
	</div>
</div>