<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add item to my feed</h4>
			</div>
			<div class="modal-body">
				<form id="submitform" action="/creator/submit/" method="post">
					<div class="form-group">
						<label for="url">URL</label>
						<input id="url" name="url" class="form-control" placeholder="http://awesome.site.com">
					</div>
					<div class="form-group">
						<label for="title">Title</label>
						<input id="title" name="title" class="form-control" placeholder="Title of Awesome">
					</div>
					<div class="form-group">
						<label for="desc">Description</label>
						<textarea id="desc" name="desc" class="form-control" placeholder="Describe your creation with a few lines."></textarea>
					</div>
					<div class="form-group">
						<label for="image">Thumbnail image</label>
						<input type="file" id="image">
						<p class="help-block">The image will be cropped to square.</p>
					</div>
			</div>
			<div class="modal-footer">
				{% if subscribercount == 1 %}
					<p class="help-block">When added this item will be pushed to and flattred by 1 subscriber.</p>
				{% else %}
					<p class="help-block">When added this item will be pushed to and flattred by {{ subscribercount }} subscribers.</p>
				{% endif %}

				<button type="submit" class="btn btn-success">Add item</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->